.places {
    text-align: left;
    margin-bottom: 200px;
}

.places h1 {
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 30px;
    border-radius: 4px;
    border: 1px solid #FF5A5F;
    text-align: center;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 50px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 5px;
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    background-size: cover;
}

.max_guest div{
    background-image: url('../images/icon_group.png');
}

.number_rooms div {
    background-image: url('../images/icon_bed.png');
}

.number_bathrooms div {
    background-image: url('../images/icon_bath.png');
}

.user {
    margin-top: 20px;
    margin-bottom: 10px;
}

.user, .description, article .amenities, .reviews{
    text-align: left;
}

article .amenities, article .reviews {
    margin-top: 40px;
}

article .amenities h2, article .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
    margin-bottom: 0;
}

article .amenities ul, article .reviews ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

article .reviews ul li h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

article .reviews ul li p {
    font-size: 12px;
    margin-top: 0;
}

article .amenities ul li {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.amenities_icon {
    width: 25px;
    height: 25px;
    background-size: cover;
    margin-right: 20px;
}

.pet {
    background-image: url('../images/icon_pets.png');
}

.tv {
    background-image: url('../images/icon_tv.png');
}

.wifi {
    background-image: url('../images/icon_wifi.png');
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}